<a href="https://colab.research.google.com/github/hamdi911/hamdi/blob/master/run_spark_on_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Java, Spark, and Findspark
This installs Apache Spark 2.2.1, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

In [45]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [48]:
# Initialiser SparkSession
spark = SparkSession.builder.appName("ClientsAnalysis").getOrCreate()
print(spark.version)

# Définir le schéma
schema = StructType([
    StructField("client_id", StringType(), True),
    StructField("name", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("zip_code", StringType(), True),
])

3.5.3

In [27]:
# Charger le fichier texte
file_path = "/clients.txt"
dfClients = spark.read.csv(file_path, schema=schema, sep=",", header=False)

In [28]:
# Afficher le contenu du DataFrame
dfClients.show()

+---------+---------------+------------+-----+--------+
|client_id|           name|        city|state|zip_code|
+---------+---------------+------------+-----+--------+
|      100|     John Smith|      Austin|   TX|   78727|
|      200|    Joe Johnson|      Dallas|   TX|   75201|
|      300|      Bob Jones|     Houston|   TX|   77028|
|      400|     Andy Davis| San Antonio|   TX|   78227|
|      500| James Williams|      Austin|   TX|   78727|
+---------+---------------+------------+-----+--------+

In [29]:
# Print le shéma DF
dfClients.registerTempTable("clients")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [30]:
# Sélectionnez la colonne du nom du client
dfClients.select("name").show()

+---------------+
|           name|
+---------------+
|     John Smith|
|    Joe Johnson|
|      Bob Jones|
|     Andy Davis|
| James Williams|
+---------------+

In [31]:
# Sélectionnez les colonnes nom du client et ville
dfClients.select("name", "city").show()

+---------------+------------+
|           name|        city|
+---------------+------------+
|     John Smith|      Austin|
|    Joe Johnson|      Dallas|
|      Bob Jones|     Houston|
|     Andy Davis| San Antonio|
| James Williams|      Austin|
+---------------+------------+

In [32]:
# Sélectionnez un client par identifiant
dfClients.filter(dfClients.client_id =="500").show()

+---------+---------------+-------+-----+--------+
|client_id|           name|   city|state|zip_code|
+---------+---------------+-------+-----+--------+
|      500| James Williams| Austin|   TX|   78727|
+---------+---------------+-------+-----+--------+

In [38]:
# Compter les clients par code postal
dfClients.groupBy("zip_code").count().show()

+--------+-----+
|zip_code|count|
+--------+-----+
|   75201|    1|
|   78227|    1|
|   78727|    2|
|   77028|    1|
+--------+-----+

In [53]:
# Créer un SQLContext du SparkContext existant
val sqlContext = new org.apache.spark.sql.SQLContext(sc)

SyntaxError: invalid syntax (<ipython-input-53-f9e4d879f861>, line 2)

# Set Environment Variables
Set the locations where Spark and Java are installed.

# Start a SparkSession
This will start a local Spark session.

# Use Spark!
That's all there is to it - you're ready to use Spark!